.person, .channel {
  display: flex;
  align-items: center;
}

.person span, .channel span {
  opacity: 0.5;
  margin-left: 10px;
}

.channel i {
  font-size: 14px;
  margin-right: 4px;
}

.channel.active span {
  opacity: 1;
}

.online-badge {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #2eb67d;
  margin-top: 2px;
  margin-right: 8px;
}

.offline-badge {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ec5252;
  margin-top: 2px;
  margin-right: 8px;
  opacity: 0.5;
}
